<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script   src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="main.js"></script>
</head>

<h3>Reactor Status Test App.</h3>

<table id="status_table">
  <thead>
    <tr>
        <th>ReportDt</th>
        <th>Unit</th>
        <th>Power</th>
    </tr>
  </thead>
    <% @statuses.each do |s| %>
      <tr>
        <td><%= s.ReportDt %></td>
        <td><%= s.Unit %></td>
        <td><%= s.Power %></td>
      </tr>
    <% end %>
</table>